.navcontainer {
  background-color: #333;
}
.logo {
  width: 25%;
  float: left;
  color: white;
  text-align: center;
}
.logo img {
  border-radius: 50px;
  height: 50px;
}
.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navul li {
  float: left;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

.navul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navul li a:hover:not(.active) {
  background-color: #111;
}

.navul li a .active {
  background-color: #04aa6d;
}
